# vsphere related params
vsphere_user            = "administrator@vsphere.local"
vsphere_password        = "Password1234"
vsphere_server          = "vcenter.windows.lab"
vsphere_dc_name         = "DC-01"
vsphere_dscluster       = "DatastoreCluster"
vsphere_compute_cluster = "cluster01"
vsphere_portgroup_name  = "VM Management"
vsphere_folder          = "Terraform-VMs"
vsphere_template_name   = "WinServ2022"

# Which Windows administrator password to set during vm customization
winadmin_password = "Password1234"

# Firmware of template
firmware = "efi"

# Primary Domain Controller settings
PDC_name    = "dc01"
PDC_IP      = "192.168.20.50"
PDC_cpu_num = 2
PDC_mem     = 6144

# Horizon Connection Server 1 settings (standard)
ConnServ1_name    = "cs01"
ConnServ1_IP      = "192.168.20.101"
ConnServ1_cpu_num = 4
ConnServ1_mem     = 8192

# Horizon Connection Server 2 settings (replica 1)
ConnServ2_name    = "cs02"
ConnServ2_IP      = "192.168.20.102"
ConnServ2_cpu_num = 2
ConnServ2_mem     = 4096

# Horizon Connection Server 3 settings (replica 2)
ConnServ3_name    = "cs03"
ConnServ3_IP      = "192.168.20.103"
ConnServ3_cpu_num = 2
ConnServ3_mem     = 4096

# Common network params
netmask    = "24"
def_gw     = "192.168.20.1"
dns_server = "192.168.1.2"
