---
ansible_user: administrator
ansible_password: "Password1234"
ansible_port: 5985
ansible_connection: winrm
ansible_winrm_server_cert_validation: ignore

domain: "windows_lab.local"
netbios_domain: "windows_lab"
top_level_domain: "local" 
domain_admin: "{{ ansible_user }}@{{ domain }}"
domain_admin_username: "{{ ansible_user }}"
domain_admin_password: "Password1234"
domain_safemode_password: "Password1234"

primary_domain_controller: "dc01"

install_folder: C:\Install\
install_url_host: "https://some-web-endpoint.com/local/"
install_binary: "VMware-Horizon-Connection-Server-x86_64-8.4.1-20741546.exe" # this doesn't actually work for the install
#install_binary: "VMware-Horizon-Connection-Server-x86_64-8.7.0-20649599.exe" # this doesn't actually work for the install
install_url: "{{ install_url_host }}{{ install_binary }}"
install_binary_dest: "{{ install_folder }}{{ install_binary }}"

hz_admin_user: horizonadmin
hz_admin_group: hz_admin
hz_admin_pass: Password1234
hz_admin_user_domain: "{{ hz_admin_user }}@{{ domain }}"
